{% extends 'usuarios/base.html' %}
{% block conteudo %}

<div class="card" style="text-align: center; margin-top: 100px;">
    <div class="card-body">
      <h1 style="font-size: 20px;">Projeto CRUD utilizando Django e Banco de Dados SQLite</h1>
      <p>O foco desse projeto não foi o Front-end, embora eu tenha aplicado o Bootstrap de uma maneira simples</p>
      <p>Aqui será possível adicionar, visualizar, remover e atualizar usuários da tabela</p>
      <p>Você também poderá deletar todos os usuários da tabela</p>
      <p>Mesmo que você delete, o histórico de ID permanece, por boa prática</p>
    </div>
  </div>


{% endblock %} 